#main .schedule {
  .day-header {
    display: flex;
    gap: 2rem;
    @media screen and (max-width: $tablet-breakpoint) {
      display: none;
    }
    .aside-indication {
      z-index: -10;
      .icon-type {
        background-color: var(--techevent-schedule-reverse-color);
        box-shadow: unset;
      }
    }
    .rooms {
      .room {
        padding: $spacing-small;
        .room-label {
          @include add(size, s);
          @include add(weight, bold);
          @include add(height, s);
        }
      }
    }
  }

  .timeslot {
    display: flex;
    gap: 2rem;
    @media screen and (max-width: $tablet-breakpoint) {
      gap: 1rem;
    }
    .rooms {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      padding: $spacing-xsmall $spacing-xsmall;
      background-color: var(--techevent-schedule-color);
      box-shadow:
        0 2px 0 0 var(--techevent-schedule-color),
        0 6px 0 0 var(--techevent-schedule-color),
        0 8px 0 0 var(--techevent-schedule-reverse-color),
        0 10px 0 0 var(--techevent-schedule-secondary-color),
        0 -2px 0 0 var(--techevent-schedule-color),
        0 -6px 0 0 var(--techevent-schedule-color),
        0 -8px 0 0 var(--techevent-schedule-reverse-color),
        0 -10px 0 0 var(--techevent-schedule-secondary-color);
      gap: var(--gap);
      .room {
        width: 25%;
        @media screen and (max-width: $tablet-breakpoint) {
          width: 100%;
        }
        border-right: 1px solid #e3e3e3;
        &:last-child {
          border-right: unset;
        }
        .sessionTile {
          min-height: 240px;
          padding: $spacing-2xsmall 0 $spacing-small 0;
        }
        @media screen and (max-width: $tablet-breakpoint) {
          border-right: unset;
          margin-bottom: $spacing-xsmall;
          .sessionTile {
            padding: $spacing-small 0;
            border-bottom: 1px #ecebeb solid;
            margin-bottom: $spacing-small;
            &.empty {
              display: none;
            }
          }
        }
        @media screen and (min-width: $tablet-breakpoint) {
          .slot-info {
            .session-room.slotInfoItem {
              display: none;
            }
          }
        }
      }
      .room-all {
        width: 100%;
      }
    }
  }

  .tab {
    .tabular.menu {
      display: flex;
      justify-content: center;
      border-bottom-width: 2px;
      border-bottom-color: var(--techevent-schedule-color);
      .item {
        padding: $spacing-small $spacing-small;
        background-color: var(--techevent-schedule-reverse-color);
        color: var(--techevent-schedule-color);
        @media screen and (max-width: $tablet-breakpoint) {
          width: 20%;
          padding: $spacing-small 0;
          text-align: center;
        }
        &.active {
          background-color: var(--techevent-schedule-color);
          color: var(--techevent-schedule-reverse-color);
        }
        &:hover {
          .day.day-label {
            .heading {
              @include add(weight, bold);
            }
            .description {
              @include add(weight, medium);
            }
          }
        }
        .day.day-label {
          .heading {
            @include add(size, l);
            @include add(height, l);
            padding: $spacing-xsmall 0;
          }
          .description {
            @include add(size, m);
            @include add(weight, light);
            @include add(height, m);
          }
          @media screen and (max-width: $tablet-breakpoint) {
            .heading {
              @include add(size, s);
            }
            .description {
              @include add(size, xs);
            }
          }
        }
      }
    }
    &.tab-container {
      padding: 0 !important;
    }
  }

  .tab-content {
    position: relative !important;
    display: flex;
    flex-direction: column;
    padding: 18px;
    padding-top: 1rem;
    gap: 2rem;

    &:before {
      position: absolute;
      top: 0;
      left: 41px;
      height: 100%;
      border-left: 1px solid var(--techevent-schedule-color);
      content: '';
      opacity: 0.4;
      @media screen and (max-width: $tablet-breakpoint) {
        left: 30px;
      }
    }
  }

  .aside-indication {
    transform: translateY(20px);

    .icon-type {
      display: grid;
      height: 50px;
      border-radius: 50%;
      aspect-ratio: 1/1;
      background-color: var(--techevent-schedule-color);
      box-shadow:
        0px 0px 0px 2px var(--techevent-schedule-color),
        0px 0px 0px 6px var(--techevent-schedule-color),
        0px 0px 0px 8px var(--techevent-schedule-reverse-color),
        0px 0px 0px 10px var(--techevent-schedule-secondary-color),
        0px 0px 0px 14px var(--techevent-schedule-reverse-color);
      color: var(--techevent-schedule-reverse-color) !important;
      place-content: center;

      .icon {
        height: 30px !important;
        color: var(--techevent-schedule-reverse-color);
        fill: var(--techevent-schedule-reverse-color) !important;
      }

      @media screen and (max-width: $tablet-breakpoint) {
        height: 30px;

        .icon {
          height: 15px !important;
        }
      }
    }

    .time-indication {
      flex-shrink: 0;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      margin-top: 1.3rem;
      background: var(--techevent-schedule-reverse-color);
      @include add(size, xs);
      @include add(weight, bold);
      @include add(height, xs);
      text-align: center;
    }
  }
}
.block.schedule .title {
  @include block-title;
  @include default-container-width;
}
