.listing-item {
  .card-container {
    &.presenter {
      background-color: unset !important;
    }
    &.presenter,
    &.session {
      min-height: 300px;
      max-height: 100% !important;
      .item {
        margin-top: unset !important;
        .sessionData {
          display: flex;
          min-height: 300px;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-between;
        }
        .sessionHeader {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }
        .sessionTile {
          padding: $spacing-2xsmall 0 $spacing-small 0;

          .sessionTitle .title {
            display: flex;
            flex-direction: column;
            justify-content: left;
            padding: $spacing-2xsmall 0;
            margin-bottom: $spacing-small;
            text-decoration: none;
            @include add(size, m);
            @include add(weight, bold);
          }
        }
        .presenterTile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          padding: 0 $spacing-small;
          > .container {
            width: 100%;
          }
          .presenterTitle {
            .title {
              align-items: center;
              justify-content: center;
              padding: $spacing-2xsmall 0;
              margin-bottom: $spacing-2xsmall;
              @include add(size, m);
              @include add(weight, bold);
              color: var(--theme-foreground-color, var(--color));
              text-decoration: none;
            }
          }
          ul.social-networks {
            justify-content: var(--block-alignment, center);
            --social-network-icon-color-main: var(
              --theme-foreground-color,
              var(--color)
            );
          }
          .imgWrapper {
            max-width: 200px;
          }
        }
      }
    }
  }
}
