.parallax-wrapper {
  position: relative;
  overflow: hidden;
  &.height-s {
    height: var(--techevent-parallax-height-s);
  }
  &.height-m {
    height: var(--techevent-parallax-height-m);
  }
  &.height-l {
    height: var(--techevent-parallax-height-l);
    .full-overlay {
      width: 100%;
    }
  }
  .parallax-wrapperRef {
    .solid-textbox.has-content {
      background-color: var(
        --techevent-parallax-overlay-color,
        rgba(255, 255, 255, 0.66)
      );
    }
    &:has(.parallax-content .full-overlay) .transparencyLayer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(
        --techevent-parallax-overlay-color,
        rgba(255, 255, 255, 0.66)
      );
    }
    img {
      position: absolute;
      top: 35%;
      min-width: 100%;
      min-height: 150%;
      object-fit: cover;
      will-change: transform;
      &.placeholder {
        position: relative;
        top: 0%;
        min-width: auto;
        min-height: auto;
      }
    }
    .parallax-title,
    .parallax-description {
      color: var(--techevent-parallax-foreground-color, #000);
    }

    .parallax-title {
      padding-bottom: $spacing-large;
      color: var(--techevent-parallax-foreground-color);
    }

    .parallax-description {
      padding-bottom: $spacing-large;
      color: var(--techevent-parallax-foreground-color);
    }

    .parallax-cta {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      .parallax-button {
        color: var(--theme-parallax-button-color);
        text-decoration: none;
        &.external {
          text-decoration: none;
          &::after {
            display: none;
          }
        }
        @include button();
      }
    }
    .parallax-content {
      position: absolute;
      top: 0;
      left: 50%;
      display: flex;
      width: 100%;
      max-width: var(--techevent-parallax-content-max-width);
      height: 100%;
      flex-direction: column;
      justify-content: center;
      transform: translateX(-50%);

      &:has(.solid-textbox) .box {
        padding: 40px;
      }

      &:has(.full-overlay, .parallax-content) .box {
        padding-top: $spacing-large;
        padding-bottom: $spacing-large;
      }

      .box {
        display: inline-block;
        width: fit-content;
        max-width: 940px;
        box-sizing: border-box;
        align-self: var(--block-alignment);
        text-align: var(--block-alignment);

        &:has(.parallax-description) .parallax-title {
          padding-bottom: 60px;
        }
      }

      .parallax-title {
        @include add(size, xl);
        @include add(height, xl);
        @include add(weight, bold);
        margin-bottom: 0px;
      }

      p,
      p * {
        @include add(size, m);
        @include add(height, l);
        @include add(weight, normal);
      }
    }
  }
}
