body.contenttype-presenter {
  .presenter-view {
    margin-top: $spacing-medium;
    .wrapper {
      @include default-container-width;
      .presenter-labels {
        margin: $spacing-xsmall 0;
      }
      .presenter-name {
        @include text-heading-h2;
      }
      .presenter-description {
        @include description;
      }
    }
  }
  @media only screen and (max-width: $tablet-breakpoint) {
    .presenter-view {
      padding-right: $spacing-medium;
      padding-left: $spacing-medium;
    }
  }
}
